/************************************/
/*********** TYPOGRAPHY *************/
/************************************/
html {
  font-size: 16px;
}
/************************************/
/********** LANDING PAGE ************/
/************************************/
.landingpage__section {
  min-height: 60vh;

  .text div {
    padding: 2rem 4rem 4rem;
    transition: all .3s;
  }
}

/************************************/
/********** ABOUT PAGE ************/
/************************************/

.aboutpage__section {
  min-height: 50vh;
  .text, .image {
    width: 50%;
  }
  .text {
    margin: 0;
    align-self:start;
    max-width: 580px;

    div {
      padding: 2em;
    }
    p {
      margin-bottom: 1em;
    }
  }
  &.menu {
    flex-direction: row-reverse;
    .text {
      transform: translate($height__navbar, $height__navbar);
      justify-content: flex-end;
    }
  }
  &.booking {
    flex-direction: row;
    .text {
      transform: translate(-$height__navbar, $height__navbar);
    }
  }
}


/************************************/
/************** MENU **************/
/************************************/

// .container section {
//   width: 40%;
// }
