@font-face {
    font-family: 'facultad';
    src: url('../fonts/facultad-regular-webfont.woff2') format('woff2'),
         url('../fonts/facultad-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@import url('https://fonts.googleapis.com/css?family=Lato:300,400|Roboto:300,400');

/*************************************/
/*************** RESET ***************/
/*************************************/
table, tr, td {
  margin:0;
  padding:0;
}

button, input[type="submit"], input[type="reset"] {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

*,
*:after,
*:before {
	-webkit-box-sizing: inherit;
	box-sizing: inherit;
}

html, body {
  min-height: 100vh;
  height: auto;
}

.outer-container {
  width: 100%;
  height: 100%;
  overflow: scroll;
}

.navbar-header {
  width: 100%;
  height: $height__navbar;
  a {
    color: $color__dark-1;
  }
  a:hover {
    color: $color__light-3;
  }
  ul {
    margin: auto;
    li {
      margin: 5px;
      display: inline-flex;
    }
  }
}
  ul, menu, dir {
    list-style-type: none;
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
    -webkit-margin-start: 0;
    -webkit-margin-end: 0;
    -webkit-padding-start: 0;
}

/**************************************/
/************* TYPOGRAPHY *************/
/**************************************/
body {
  font-family: 'Lato';
  color: $color__dark-1;
}
h1, h2, h3, h4 {
  font-family: 'facultad';
}

h1 {
  font-size: 3em;
}
h2 {
  font-size: 2em;
}
h3 {
  font-size: 1.5;
}
p {
  font-weight: 300;
  line-height: 1.7;
  letter-spacing: 0.01em;
  margin-bottom: 1em;
}
a,
a:active,
a:visited {
  text-decoration: none;
  cursor: pointer;
  transition: ease .2s;
}
a:hover {
  color: $color__light-3;
  transition: ease .1s;
}
small {
  font-weight: 300;
  letter-spacing: .03em;
}

/************************************/
/************** LAYOUT **************/
/************************************/
body {
  background: $color__light-1;
}
div, section, footer {
  box-sizing: border-box;
}
.container {
  width: 100%;
  max-width: 800px;
  min-height: 100vh;
  margin: auto;
}
img {
  width: 100%;
}

/************************************/
/*************** FLEX ***************/
/************************************/
.flex {
  display: flex;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.space-between {
  justify-content: space-between;
}

.hcenter {
  justify-content: center;
}

.vcenter {
  align-items: center;
}

/************************************/
/************** INPUTS **************/
/************************************/
input {
  display:block;
  height: 30px;
  margin: 0 0 10px;
  padding: 7px;
  font-size: 1em;
}
input[type=text],
input[type=email],
input[type=tel],
input[type=password] {
  width: 100%;
}

button, .button, input[type=submit] {
  padding: .7em 3em 1em;
  font-family: 'facultad';
}
button {
  background: $color__dark-1;
  color: rgba(252, 249, 244, .8);
}
.green {
  background: $color__accent-2;
  color: rgba(252, 249, 244, .8);
  &:hover {
    color:$color__accent-1;
  }
}
.brown {
  background: $color__dark-2;
  color: rgba(252, 249, 244, .8);
  &:hover {
    color:$color__light-3;
  }
}

/************************************/
/************** HEADER **************/
/************************************/
.navbar-header {
  background: none;
  li {
    font-family: 'facultad';
  }
  a {
    color: $color__dark-1;
    a:hover {
      color: $color__light-3;
    }
  }
}
.container-logo {
  width: 200px;
  img {
    transform: translateX(16px);
  }
}

/************************************/
/*********** LANDING PAGE ***********/
/************************************/
.landingpage-container {
  width: 100%;
  .menu .text div {
    background: $color__accent-1;
    color: $color__accent-2;
  }
  .booking .text div {
    background: $color__light-3;
    color: $color__dark-2;
  }
}
.jumbotron {
  background: $color__accent-1;
  // Make sure left-right-bottom margins are equal to top-margin
  margin: 0 $height__navbar $height__navbar;
  height: calc(70vh - (#{$height__navbar} * 2));
}
.landingpage__section {
  margin: 0 auto 100px;

  &.menu, &.booking {
    flex-direction: column;
  }
  .image, .text {
    width: 100%;
  }
  .text {
    margin: -50px 20px 0;
    div {
      width: 90%;
      padding: 2em 2em 4em;
    }
  }
}



/************************************/
/************* CALENDAR *************/
/************************************/

.booking-calendar-container {
  width: 100%;
  max-width: 800px;
  height: 100vh;
}

.different-month {
  user-select: none !important;
  cursor: not-allowed !important;
  pointer-events: none;
}

.booking-calendar {
  margin: 0 auto;
  width: 100%;
  max-width: 450px;
  .header {
    background: $color__accent-1!important;
    .header-content {
      .icon-previous {
        color: $color__accent-2!important;
      }
      .icon-next {
        color: $color__accent-2!important;
      }
      .month-label {
        color: $color__accent-2!important;
      }
    }
  }

  .week {
    background: $color__accent-1!important;
    &.names {
      .day-box .day {}
    }
    .day-box::before {
      border: 1px solid rgba(71,90,81,.2)!important;
    }
    .day-box .day {
      background: $color__accent-1!important;
      color: $color__accent-2!important;

      &.different-month {
        color: rgba(71,90,81,.4)!important;
      }
      &.selected {}
      &.today {}
      &.booked-day:before, &.booked-night:after {
        -webkit-transform: skewX(0)!important;
        transform: skewX(0)!important;
        left:0!important;
      }
      &.booked-day {
        user-select: none !important;
        cursor: not-allowed !important;
        pointer-events: none;
      }
      &.booked-day:before {
        background: $color__accent-3!important;
      }
      &.booked-night:after {
        width: 0!important;
      }
    }
  }
}

/************************************/
/*********** CONTACT FORM ***********/
/************************************/
.contact-form {
  width: 90%;
  margin:auto;
  h2 {
    padding: 0px;
    margin-bottom: 10px;
  }
  label {
    padding-left: 0px;
  }
  input {
    margin-top: 5px;
    padding: 20px;
    padding-left: 15px;
    &::placeholder {
      color: #a2a2a2;
    }
  }
  .contact-form-button {
    margin-top: 10px;
    width: 70px;
    padding: 10px;
    &:hover {
      background: $color__accent-2;
      transition: all 300ms;
    }
  }
  .gdpr-info {
    font-size: 0.6em;
    margin-top: 5px;
    a {
      text-decoration: underline;
    }
  }
  .consent-container {
    display: flex;
    align-items: center;
    input {
      margin: 0px;
    }
    label {
      margin-left: 10px;
    }
  }
}

.booking-details {
  ul {
    list-style: none;
    padding-left: 0px;
    li {
      margin-bottom: 5px;
    }
  }
}

.valid-input {
  border: 2px solid $color__accent-1;
}

.invalid-input {
  border: 2px solid $color__accent-3;
}

/************************************/
/*************** ADMIN **************/
/************************************/
.login-form {
  width: 300px;
  margin: 50px auto;
}

table {
  width: 100%;
}

th, td {
  padding: .5em 1em;
  text-align: left;
}

/***************************************/
/*********** AMOUNT OF GUESTS **********/
/***************************************/

.amount-of-button {
  flex-basis: calc(100% / 3);
  padding: 10px;
  margin: 5px;
}

.amount-of-guests-container {
  margin: 0px auto;
  display: inline-flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 50%;
}

/************************************/
/************** MENU **************/
/************************************/

.menuContainer li {
  margin-bottom: 1em;
}

/************************************/
/************** FOOTER **************/
/************************************/
footer {
  margin: $height__navbar $height__navbar 0;
  color: $color__light-2;
  background: $color__dark-2;
  padding: 2em;
  p {
    font-size: .8em;
    letter-spacing: .03em;
  }
  a {
    color:inherit;
    margin-right: 20px;
  }
}

/************************************/
/********** GENERAL STYLES **********/
/************************************/

.hidden {
  display: none;
}

ul {
  list-style: none;
}

.cancel-booking-container {
  margin: 0px auto;
}
