@font-face {
    font-family: 'facultad';
    src: url('../fonts/facultad-regular-webfont.woff2') format('woff2'),
         url('../fonts/facultad-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@import url('https://fonts.googleapis.com/css?family=Lato:300,400|Roboto:300,400');

/*************************************/
/*************** RESET ***************/
/*************************************/
table, tr, td {
  margin:0;
  padding:0;
}

button, input[type="submit"], input[type="reset"] {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

*,
*:after,
*:before {
	-webkit-box-sizing: inherit;
	box-sizing: inherit;
}

html, body {
  min-height: 100vh;
  height: auto;
}

.outer-container {
  width: 100%;
  height: 100%;
  overflow: scroll;
}

.navbar-header {
  width: 100%;
  height: $height__navbar;
  a {
    color: $color__dark-1;
  }
  a:hover {
    color: $color__light-3;
  }
  ul {
    margin: auto;
    li {
      margin: 5px;
    }
  }
}
  ul, menu, dir {
    list-style-type: none;
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
    -webkit-margin-start: 0;
    -webkit-margin-end: 0;
    -webkit-padding-start: 0;
}

/**************************************/
/************* TYPOGRAPHY *************/
/**************************************/
body {
  font-family: 'Lato';
  color: $color__dark-1;
}
h1, h2, h3, h4 {
  font-family: 'facultad';
}

h1 {
  font-size: 3em;
}
h2 {
  font-size: 1.4em;
}
h3 {
  font-size: 1.5;
}
p {
  font-weight: 300;
  line-height: 1.7;
  letter-spacing: 0.01em;
  margin-bottom: 1em;
}
a,
a:active,
a:visited {
  text-decoration: none;
  cursor: pointer;
  transition: ease .2s;
}
a:hover {
  color: $color__light-3;
  transition: ease .1s;
}
small {
  font-weight: 300;
  letter-spacing: .03em;
}
.bold {
  font-weight: 700;
}

/************************************/
/************** LAYOUT **************/
/************************************/
body {
  background: $color__light-1;
}
div, section, footer {
  box-sizing: border-box;
}
.container {
  width: 100%;
  max-width: 800px;
  min-height: 100vh;
}
img {
  width: 100%;
}

/************************************/
/*************** FLEX ***************/
/************************************/
.flex {
  display: flex;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.space-between {
  justify-content: space-between;
}

.hcenter {
  justify-content: center;
}

.vcenter {
  align-items: center;
}

.column {
  flex-direction: column;
}

.row {
  flex-direction: row;
}

/************************************/
/********* INPUTS & BUTTONS *********/
/************************************/
input {
  display:block;
  height: 30px;
  margin: 0 0 10px;
  padding: 22px 0;
  text-indent: 12px;
  font-size: 1em;
  font-family: 'Lato';
  letter-spacing: .02em;
  border: 2px solid #d6d6d6;
}
input[type=text],
input[type=email],
input[type=tel],
input[type=password] {
  width: 100%;
}
input:focus {
  outline: none;
  border: 2px solid $color__light-2;
}
button, .button, input[type=submit] {
  padding: .7em 3em 1em;
}
button {
  background: $color__dark-1;
  color: rgba(252, 249, 244, .8);
}
.green {
  background: $color__accent-2;
  color: rgba(252, 249, 244, .8);
  &:hover {
    color:$color__accent-1;
  }
}
.brown {
  background: $color__dark-2;
  color: rgba(252, 249, 244, .8);
  &:hover {
    color:$color__light-3;
  }
}

/************************************/
/************** HEADER **************/
/************************************/
.navbar-header {
  background: none;
  li {
    font-family: 'facultad';
  }
  a {
    color: $color__dark-1;
    a:hover {
      color: $color__light-3;
    }
  }
}
.container-logo {
  width: 200px;
  img {
    transform: translateX(16px);
  }
}

/************************************/
/*********** LANDING PAGE ***********/
/************************************/
.landingpage-container {
  width: 100%;
  .menu .text div {
    background: $color__accent-1;
    color: $color__accent-2;
  }
  .booking .text div {
    background: $color__light-3;
    color: $color__dark-2;
  }
}
.jumbotron {
  background: $color__accent-1;
  // Make sure left-right-bottom margins are equal to top-margin
  margin: 0 $height__navbar $height__navbar;
  height: calc(70vh - (#{$height__navbar} * 2));
}
.landingpage__section {
  margin: 0 auto 100px;

  &.menu, &.booking {
    flex-direction: column;
  }
  .image, .text {
    width: 100%;
  }
  .text {
    margin: -50px 20px 0;
    div {
      width: 90%;
      padding: 2em 2em 4em;
      p {
        margin-bottom: 3em;
      }
    }
  }
}



/************************************/
/************* CALENDAR *************/
/************************************/

.booking-calendar-container {
  width: 100%;
  max-width: 800px;
  height: 100vh;
  position: absolute;
  top: 0px;
}

.different-month {
  user-select: none !important;
  cursor: not-allowed !important;
  pointer-events: none;
}
.day-content {
  font-size: 1rem;
}

.booking-calendar {
  margin: 0 auto;
  width: 100%;
  max-width: 450px;
  .header {
    background: #ededed!important;
    border: none!important;
    .header-content {
      .month-label, .icon-previous, .icon-next {
        color: $color__dark-2!important;
        font-size: 1.2rem!important;
      }
      .month-label {
        letter-spacing: 0.05em;
      }
    }
  }

  .week {
    background: #fff!important;
    border-right: none!important;
    border-top: $border__calendar;
    &.names {
      .day-box .day {
        border-right: $border__calendar;
      }
    }
    .day-box::before {
      border-right: $border__calendar;
    }
    .day-box .day {
      background: #fff!important;
      color: $color__accent-2!important;
      transition: ease .2s;
      &:hover {
        transition: ease .3s;
        background: $color__accent-1!important;
      }

      &.different-month {
        color: rgba(71,90,81,.4)!important;
        font-size: 1rem;
      }
      &.today {
        background: #fff;
        color: $color__dark-1;
        font-size: 1rem;
      }
      &.selected {
        background: $color__accent-1!important;
      }
      &.booked-day:before, &.booked-night:after {
        -webkit-transform: skewX(0)!important;
        transform: skewX(0)!important;
        left:0!important;
      }
      &.booked-day {
        user-select: none !important;
        cursor: not-allowed !important;
        pointer-events: none;
      }
      &.booked-day:before {
        background: $color__accent-3!important;
      }
      &.booked-night:after {
        width: 0!important;
      }
    }
  }
}

.booking-calendar .week .day-box .day,
.booking-calendar .week .day-box:before {
  border-right: $border__calendar;
}
.booking-calendar .week .day-box:first-child .day  {
  border-left: $border__calendar;
}
.booking-calendar .week:last-child {
  border-bottom: $border__calendar;
}

/************************************/
/*********** CONTACT FORM ***********/
/************************************/
.contact-form {
  width: 90%;
  max-width: 500px;
  margin:auto;
  h2 {
    padding: 0px;
    margin-bottom: 10px;
  }
  label {
    padding-left: 0px;
    font-size: .9em;
    letter-spacing: .04em;
  }
  input {
    margin: .4em 0 1.6em;
    &::placeholder {
      color: #a2a2a2;
    }
  }
  .contact-form-button {
    // margin-top: 10px;
    max-width: 300px;
    margin: auto;
    // padding: 10px;
    // &:hover {
    //   background: $color__accent-2;
    //   transition: all 300ms;
    // }
  }
  .gdpr-info {
    font-size: 0.6em;
    margin: 0 0 2em;
    a {
      text-decoration: underline;
    }
  }
  .consent-container {
    label {
      margin-left: 10px;
    }
  }
}

.booking-details {
  width: 200px;
  margin: 4em auto 2em;
  background: $color__light-2;
  padding: 2em;
  line-height: 2em;
  font-size: .9em;
  font-weight: 300;
  letter-spacing: .02em;
  ul {
    list-style: none;
    padding-left: 0px;
    li {
      margin-bottom: 5px;
    }
  }
}

.valid-input {
  border: 2px solid $color__accent-1;
}

.invalid-input {
  border: 2px solid $color__accent-3;
}

/************************************/
/*************** ADMIN **************/
/************************************/
.login-form {
  width: 300px;
  margin: 50px auto;
}

table {
  width: 100%;
}

th, td {
  padding: .5em 1em;
  text-align: left;
}

/***************************************/
/*********** AMOUNT OF GUESTS **********/
/***************************************/

.amount-of-button {
  flex-basis: calc(100% / 3);
  padding: 12px 19px;
  margin: 5px;
  font-size: 1rem;
}

.amount-of-guests-container {
  margin: 0px auto;
  flex-wrap: wrap;
  width: 50%;
}

/************************************/
/************** MENU **************/
/************************************/

.container section {
  width: 80%;
  ul {
  padding-left: 0;
  li {
    margin-bottom: 1rem;
  }
}
}

/************************************/
/************** FOOTER **************/
/************************************/
footer {
  margin: $height__navbar $height__navbar 0;
  color: $color__light-2;
  background: $color__dark-2;
  padding: 2em;
  p {
    font-size: .8em;
    letter-spacing: .03em;
  }
  a {
    color:inherit;
    margin-right: 20px;
  }
}

/************************************/
/********** GENERAL STYLES **********/
/************************************/

.hidden {
  display: none;
}

ul {
  list-style: none;
}

.cancel-booking-container {
  margin: 0px auto;
}

.position-absolute {
  top: 0px;
  position: absolute;
  z-index: 99999;
}
