/**************************************/
/************* TYPOGRAPHY *************/
/**************************************/
html {
  font-size: 14px;
}

body {
  -webkit-animation: fadein 2s;
  animation: fadein 2s;
}

/************************************/
/********** LANDING PAGE ************/
/************************************/
.landingpage__section {
  min-height: 100vh;
  .text, .image {
    width: 50%;
  }
  .text {
    margin: 0;
    align-self:start;
    max-width: 580px;
  }
  &.menu {
    flex-direction: row-reverse;
    .text {
      transform: translate($height__navbar, $height__navbar);
      justify-content: flex-end;
    }
  }
  &.booking {
    flex-direction: row;
    .text {
      transform: translate(-$height__navbar, $height__navbar);
    }
  }
}
.jumbotron {
  background: $color__accent-1;
  // Make sure left-right-bottom margins are equal to top-margin
  margin: 0 $height__navbar $height__navbar;
  height: 40vh;

  .container-logo {
    width: 200px;
    img {
      //Make sure logo is optically centered
      transform: translateX(-1%);
    }
  }
}


/************************************/
/************** FOOTER **************/
/************************************/

footer {
  &>div {
    padding: 2em;
  }
  .our-story, .address {
    width: 50%;
  }
  .our-story {
    padding: 0 0 2em 2em;
  }
  .address {
    padding: 0 2em 2em 0;
    border-right: 1px solid $color__light-1;
  }
}
