@charset "UTF-8";
@font-face {
  font-family: 'facultad';
  src: url("../fonts/facultad-regular-webfont.woff2") format("woff2"), url("../fonts/facultad-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

/*************************************/
/*************** RESET ***************/
/*************************************/
table, tr, td {
  margin: 0;
  padding: 0; }

button, input[type="submit"], input[type="reset"] {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit; }

*,
*:after,
*:before {
  -webkit-box-sizing: inherit;
  box-sizing: inherit; }

html, body {
  min-height: 100vh;
  height: auto; }

a {
  text-decoration: none; }
  a:visited {
    color: inherit; }
  a:hover {
    text-decoration: underline; }

.outer-container {
  width: 100%;
  height: 100%;
  overflow: scroll; }

.navbar-header {
  width: 100%;
  height: 70px;
  display: flex;
  align-content: center; }
  .navbar-header ul {
    margin: auto; }
    .navbar-header ul li {
      margin: 5px;
      display: inline-flex; }

ul, menu, dir {
  list-style-type: none;
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
  -webkit-margin-start: 0;
  -webkit-margin-end: 0;
  -webkit-padding-start: 0; }

/**************************************/
/************* TYPOGRAPHY *************/
/**************************************/
body {
  font-family: 'Karla';
  color: #453D3D; }

h1, h2, h3, h4 {
  font-family: 'facultad'; }

h1 {
  font-size: 3em; }

h2 {
  font-size: 2em; }

h3  {
  font-size: 1.5; }

p {
  font-weight: 300;
  line-height: 1.7; }

a {
  color: inherit;
  text-decoration: none; }

/************************************/
/************** LAYOUT **************/
/************************************/
body {
  background: #FCF9F4; }

div, section, footer {
  box-sizing: border-box; }

.container {
  width: 100%;
  max-width: 800px;
  min-height: 100vh;
  margin: auto;
  display: flex;
  flex-direction: column; }

img {
  width: 100%; }

/************************************/
/*************** FLEX ***************/
/************************************/
.flex {
  display: flex; }

.space-between {
  justify-content: space-between; }

.hcenter {
  justify-content: center; }

.vcenter {
  align-items: center; }

/************************************/
/************** INPUTS **************/
/************************************/
input {
  display: block;
  height: 30px;
  margin: 0 0 10px;
  padding: 7px;
  font-size: 1em; }

input[type=text],
input[type=email],
input[type=tel],
input[type=password] {
  width: 100%; }

button, input[type=submit] {
  padding: .7em 3em 1em;
  font-family: 'facultad';
  background: #453D3D;
  color: rgba(252, 249, 244, 0.8); }

button.green {
  background: #475A51;
  color: rgba(252, 249, 244, 0.8); }

button.brown {
  background: #453D3D;
  color: rgba(252, 249, 244, 0.8); }

/************************************/
/************** HEADER **************/
/************************************/
.navbar-header {
  background: none;
  color: #453D3D; }
  .navbar-header li {
    font-family: 'facultad'; }

.container-logo {
  width: 200px; }
  .container-logo img {
    transform: translateX(16px); }

/************************************/
/*********** LANDING PAGE ***********/
/************************************/
.landingpage-container {
  width: 100%; }
  .landingpage-container .menu .text div {
    background: #87B586;
    color: #475A51; }
  .landingpage-container .booking .text div {
    background: #BC9E7B;
    color: #453D3D; }

.jumbotron {
  background: #87B586;
  margin: 0 70px 70px;
  height: calc(70vh - (70px * 2)); }

.landingpage__section {
  margin: 0 auto 100px; }
  .landingpage__section.menu, .landingpage__section.booking {
    flex-direction: column; }
  .landingpage__section .image, .landingpage__section .text {
    width: 100%; }
  .landingpage__section .text {
    margin: -50px 20px 0; }
    .landingpage__section .text div {
      width: 90%;
      padding: 2em 2em 4em; }

/************************************/
/************* CALENDAR *************/
/************************************/
.booking-calendar-container {
  width: 100%;
  max-width: 800px;
  height: 100vh; }

.different-month {
  user-select: none !important;
  cursor: not-allowed !important;
  pointer-events: none; }

.booking-calendar {
  margin: 0 auto;
  width: 100%;
  max-width: 450px; }
  .booking-calendar .header {
    background: #87B586 !important; }
    .booking-calendar .header .header-content .icon-previous {
      color: #475A51 !important; }
    .booking-calendar .header .header-content .icon-next {
      color: #475A51 !important; }
    .booking-calendar .header .header-content .month-label {
      color: #475A51 !important; }
  .booking-calendar .week {
    background: #87B586 !important; }
    .booking-calendar .week .day-box::before {
      border: 1px solid rgba(71, 90, 81, 0.2) !important; }
    .booking-calendar .week .day-box .day {
      background: #87B586 !important;
      color: #475A51 !important; }
      .booking-calendar .week .day-box .day.different-month {
        color: rgba(71, 90, 81, 0.4) !important; }
      .booking-calendar .week .day-box .day.booked-day:before, .booking-calendar .week .day-box .day.booked-night:after {
        -webkit-transform: skewX(0) !important;
        transform: skewX(0) !important;
        left: 0 !important; }
      .booking-calendar .week .day-box .day.booked-day {
        user-select: none !important;
        cursor: not-allowed !important;
        pointer-events: none; }
      .booking-calendar .week .day-box .day.booked-day:before {
        background: #FE6340 !important; }
      .booking-calendar .week .day-box .day.booked-night:after {
        width: 0 !important; }

/************************************/
/*********** CONTACT FORM ***********/
/************************************/
.contact-form {
  width: 100%;
  margin: auto; }
  .contact-form .contact-form-button {
    margin: 0 auto;
    padding: 10px; }

.valid-input {
  border: 2px solid green; }

.invalid-input {
  border: 2px solid red; }

.fade-enter {
  opacity: 0.01; }

.fade-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in; }

.fade-exit {
  opacity: 1; }

.fade-exit-active {
  opacity: 0.01;
  transition: opacity 500ms ease-in; }

/************************************/
/*************** ADMIN **************/
/************************************/
.login-form {
  width: 300px;
  margin: 50px auto; }

table {
  width: 100%; }

th, td {
  padding: .5em 1em;
  text-align: left; }

/***************************************/
/*********** AMOUNT OF GUESTS **********/
/***************************************/
.amount-of-button {
  flex-basis: calc(100% / 3);
  padding: 10px;
  margin: 5px; }

.amount-of-guests-container {
  margin: 0px auto;
  display: inline-flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 50%; }

/************************************/
/************** FOOTER **************/
/************************************/
footer {
  margin: 70px 70px 0;
  color: #DACBC4;
  background: #453D3D;
  padding: 2em; }

/************************************/
/********** GENERAL STYLES **********/
/************************************/
.hidden {
  display: none; }

@media screen and (min-width: 768px) {
  /************************************/
  /********** LANDING PAGE ************/
  /************************************/
  .landingpage__section {
    min-height: 50vh; }
    .landingpage__section .text, .landingpage__section .image {
      width: 50%; }
    .landingpage__section .text {
      margin: 0;
      align-self: start;
      max-width: 580px; }
    .landingpage__section.menu {
      flex-direction: row-reverse; }
      .landingpage__section.menu .text {
        transform: translate(70px, 70px);
        justify-content: flex-end; }
    .landingpage__section.booking {
      flex-direction: row; }
      .landingpage__section.booking .text {
        transform: translate(-70px, 70px); }
  /************************************/
  /************** FOOTER **************/
  /************************************/
  footer > div {
    padding: 2em; }
  footer .our-story, footer .address {
    width: 50%; }
  footer .our-story {
    padding: 0 0 2em 2em; }
  footer .address {
    padding: 0 2em 2em 0;
    border-right: 1px solid #FCF9F4; } }

@media screen and (min-width: 992px) {
  .landingpage__section {
    min-height: 60vh; }
    .landingpage__section .text div {
      padding: 2em 4em 4em; } }
