$color__dark-1: #453D3D; //Almost black
$color__dark-2: #453D3D; //Dark brown

$color__light-1: #FCF9F4; //Almost white, for BG and text
$color__light-2: #DACBC4; //Gray-beige
$color__light-3: #BC9E7B; //Dark beige

$color__accent-1: #87B586; //Light green
$color__accent-2: #475A51; //Dark green
$color__accent-3: #FE6340; //Orange-red


$height__navbar: 70px;


$border__calendar: 2px solid #ededed!important;
$border__input: 2px solid #d6d6d6;
$border__focus: 2px solid $color__light-2;
